:root {
    --theme-color: #0000FF;
    --theme-color-secondary: #4444FF;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*split header content to screen edges*/
header {
    display:flex;
    justify-content:space-between;
    background-color:var(--theme-color);
    color:white;
}
header p {
    display:inline; 
    font-size:20px;
    margin:10px;
}

/*reactive hover for highscores link in header*/
.hover:hover {
    box-shadow: 0 0 5px 5px gray;
    cursor:pointer;
}

/*align main contents centered atop each other*/
main {
    margin-top:50px;
    display:flex;
    flex-direction: column;
    align-items:center;
}
main>* {
    text-align:center;
    max-width:600px;
    width:80%;
}

/*stylize buttons*/
button {
    display:block;
    padding:0 10px;
    margin:10px;
    height:50px;
    background-color:var(--theme-color);
    color:white;
    border-radius:20px;
    font-family:'Courier New', Courier, monospace;
    font-size:18px;
}

/*stylize specifically buttons that are in the section of answers to a quiz question*/
.answers button {
    width: 40%;
    max-width:280px;
    height:150px;
    font-size:24px;
}

button:hover {
    fitler:brightness(150%);
    cursor:pointer;
}

/*adjust margins/fonts in content sections*/
#content-head {
    font-family:'Papyrus',serif;
    font-size:50px;
}
#content-main {
    margin:30px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#content-main.answers {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
#content-main p, #content-main input {
    margin:15px;
}
#correctness-display {
    color:gray;
    font-style:italic;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*alternating backgrounds in highscore display*/
.score-display {
    background-color:var(--theme-color);
    padding:5px;
    text-align:left;
}
.score-display:nth-child(2n) {
    background-color:var(--theme-color-secondary);
}
